<!DOCTYPE html>
<html>
<head>
    <title>Welcome to pythonGrid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css">
    <style>
        .introjs-tooltip {
            max-width: 500px;
            width: 500px;
            padding: 20px;
        }
    </style>
</head>
<body>

{% block content %}

    <div class="container" id="gridbox">

        <h1>PythonGrid Demo - {{ title.replace('_',' ').upper() }} 
            <a class="btn btn-large btn-success" href="javascript:void(0);" onclick="startIntro();">Show me</a>
        </h1>

        <div>
            <a href="/basic">Basic grid</a> |
            <a href="/caption">Datagrid caption</a> |
            <a href="/column_title">Column title</a> |
            <a href="/column_hidden">Hide column(s)</a> |
            <a href="/page_size">Set page size</a> |
            <a href="/dimension">Dimension</a> |
            <a href="/search">Integrated search</a> |
            <a href="/row_numer">Enable row number</a> |
            <a href="/column_width">Column width</a> |
            <a href="/column_align">Set text align</a> |
            <a href="/all">Complete Demo</a>
        </div>
	

        {% block app_content %}{% endblock %}

    </div>

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js" type="text/javascript"></script>

<script type="text/javascript">
function startIntro(){
    var intro = introJs();
    intro.setOptions({showProgress: true,
    steps: [
        {
            element: document.querySelector('.ui-jqgrid-titlebar.ui-jqgrid-caption'),
            intro: "<h4>Set Datagrid Title</h4><code>grid.set_caption('Orders Table')</code>",
            position: 'right'
        },
        {
            element: document.querySelector('#orders_orderNumber'),
            intro: "<h4>Change Column Title</h4><code>grid.set_col_title('orderNumber', 'Order #')</code>",
            position: 'right'
        },
        {
            element: document.querySelector('#orders_orderDate'),
            intro: "<h4>Change Column Title</h4><code>grid.set_col_title('orderDate', 'Order Date')</code>"
        },
        {
            element: '.form-control.ui-pg-selbox',
            intro: "<h4>Set Page Size</h4><code>grid.set_pagesize(20)</code>",
            position: 'left'
        },
        {
            element: '.btn.ui-pg-button .fa-search',
            intro: "<h4>Toggle Integrated Search</h4><code>grid.enabled_search(True)</code>",
            position: 'bottom'
        },
        {
            element: document.querySelectorAll('table td.jqgrid-rownum')[0],
            intro: "<h4>Row Number</h4><code>grid.enable_rownumbers(True)</code>",
            position: 'right'
        },
        {
            element: '#orders_comments',
            intro: "<h4>Set column Width</h4><code>grid.set_col_width('comments', 500)</code>",
            position: 'bottom'
        }
    ]
    });

    intro.start();
}
</script>
        
<script>
$(window).on("load", function(){
    pg_orders.setGridWidth($("#gridbox").width());
});
</script>

</body>
</html>
