<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Python Grid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css">
    <style>
        .introjs-tooltip {
                max-width: 500px;
                width: 500px;
                padding: 20px;
        }
    </style>
</head>
<body>

{% block content %}

    <div class="container" id="gridbox">

        {% block app_content %}{% endblock %}

    </div>

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js" type="text/javascript"></script>

<script type="text/javascript">
function startIntro(){
    var intro = introJs();
    intro.setOptions({
    steps: [
        {
            element: document.querySelector('#orders_orderNumber'),
            intro: "<h4>Change column title</h4><code>grid.set_col_title('orderNumber', 'Order #')</code>",
            position: 'right'
        },
        {
            element: document.querySelector('#orders_orderDate'),
            intro: "<h4>Change column title</h4><code>grid.set_col_title('orderDate', 'Order Date')</code>"
        },
        {
            element: '#orders_orderNumber',
            intro: 'More features, more fun.',
            position: 'left'
        },
        {
            element: '#step4',
            intro: "Another step.",
            position: 'bottom'
        },
        {
            element: '#step5',
            intro: 'Get it, use it.'
        }
    ]
    });

    intro.start();
}
</script>


</body>
</html>
