{% extends "base.html" %}

{% block app_content %}


    <h1>PythonGrid Demo - {{ title.replace('_',' ').upper() }} 
		<a class="btn btn-large btn-success" href="javascript:void(0);" onclick="startIntro();">Show me</a>
	</h1>

	{{ grid.display()|safe }}

			
	<script>
	jQuery(document).ready(function($){ 
		
		setTimeout(function(){
			pg_orders.setGridWidth($("#gridbox").width());
		}, 500)

		setTimeout(function(){
			$(window).bind("resize", function() {
				pg_orders.setGridWidth($("#mydiv").width());
			}).trigger("resize");
		}, 0)

	});
	</script>

{% endblock app_content %}

{% block scripts %}{% endblock %}
